<section class="related">
  <h2>Postagens Relacionadas</h2>
  <ul class="posts-list">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url | relative_url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</section>
